# Configuration file

####################
# block
####################

block {
    I:naquadahBlock=741
    I:naquadahOre=740
    I:stargateBase=744
    I:stargateController=743
    I:stargatePortal=742
    I:stargateRing=745
}


####################
# dhd
####################

dhd {
    I:linkRangeX=5
    I:linkRangeY=1
    I:linkRangeZ=6
}


####################
# item
####################

item {
    I:naquadah=31700
    I:naquadahIngot=31699
    I:sgControllerCrystal=31697
    I:sgCoreCrystal=31698
}


####################
# naquadah
####################

naquadah {
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:addOresToExistingWorlds=false
    B:allowCraftingCrystals=false
    B:allowCraftingNaquadah=false
    B:enableNaquadahOre=true
}


####################
# stargate
####################

stargate {
    B:closeFromEitherEnd=true
    I:gateOpeningsPerFuelItem=24
    I:minutesOpenPerFuelItem=80
    B:oneWayTravel=false
    I:secondsToStayOpen=300
}


####################
# villagers
####################

villagers {
    I:tokra=100
}


